.first-para{
    color: red;
}

.second-para{
    @extend .first-para;
    font-size: 20px;
}

// #div1{
//     width: 300px;
//     height: 300px;
//     color: green;
//     border: yellow;
//     border-radius: 10px;
// }
// #div2{
//    @extend #div1;
//     border-radius: 20px;
//     color: violet;
// }

// .div1 .div3 div{
//     color: green;
//     font-size: 30px;
//     font-family: sans-serif;
// }
// .div2 p{
//     @extend .div1;
//     color: blue;
//     font-style: italic ;
// }


.div1{
    color: red;
    font-size: 20px;
}

.div2, .div3{
    @extend .div1;
}

.div11{
    color: blue;
    font-size: 30px;
    font-style: italic;
}

.div12, .div13{
    @extend .div11
}